.brazil {
    width: 400px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: darkgreen;
    padding: 15px;
    color: black;	
    text-align: center;
}

.brazil img {
	width: 200;
    height: auto;
}

blockquote {
	margin: 0;
}

footer {
	margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}