.brazil {
    max-width: 400px;
    margin: 10px;
    border: 1px solid;
    background-color: darkgreen;
    padding: 15px;
    color: gray;	
}

.brazil img {
	float: left;
    margin: 0;
    border: 1px black;
    padding: 4px;
    width: 200;
    height: 150;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border: 1px dotted;
    font-size:small;
}